.input{
    width: 120%;
    height: 30px;
    padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: lightblue;
  resize: none;
  font-display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputfield{
    margin-left: 250px;
    display: flex;
}
